
:root{
    --arrow-color:#777777;
    --navBar-scrollBar-color: #777777;
    --navBar-scrollBar-background:  rgba(0, 0, 0, 0.664);
    --drop-down-menu-color: rgb(255, 170, 31);
    --nav-item-bottom-line-color: red;
}

/* ----- start nav bar ----- */
nav{
    display: flex;
    align-items: center;
    /* column-gap: 50px; */
    justify-content: space-between;
    padding: 20px 30px 15px 30px;
    background-color: beige;
    position: sticky;
    width: 100%;
    z-index: 1;
    top:0
}

nav img{
    width: 120px;
    height: 60px;
    object-fit: cover;
}

@media (max-width: 992px){
    nav{
        column-gap: 20px;
        max-width: 100%;
        min-width: 100%;
        padding: 20px 15px;
    }
}
nav ul{
    display: flex;
    list-style: none;
    column-gap: 30px;    
    margin-bottom: 0;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    /* border: 2px solid #796404; */
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    position: relative;
}
/*the line that appear at the bottom of item*/
nav ul li::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    background-color: var(--nav-item-bottom-line-color);
    bottom:0;
    left: 0;
    transition: all 0.25s ease-in;
    z-index: 1;

}
nav ul li:hover {
    background-color: black;
    cursor: pointer;
}
nav ul li:hover a{
    color: white;
}

nav ul li:hover::before{
    width: 100%;
    z-index: 2;
}

nav ul li a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.25s ease-in-out;
    color: brown;
}

.drop-down-menu{
    position: absolute;
    width: 100%;
    top: calc(100% + 10px);
    left: 0;
    background-color:var(--drop-down-menu-color);
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
    transition: all 0.25s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

nav ul li:hover .drop-down-menu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.drop-down-menu div{
   padding: 10px;
   transition: all 0.25s ease-in-out;
}
.drop-down-menu div:not(:last-child){
    border-bottom: 2px solid whitesmoke;
 }

 .drop-down-menu div:hover{
    background-color: cornflowerblue;
    color: white;
}

/*---- start user cart*/
.cart-icon {
    width: 55px;
    height: 55px;
    background-color: rgba(128, 128, 128, 0.304);
    padding: 5px;
    position: relative;
    box-shadow: 2px 2px 7px #546;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon .cart-icon-counter{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    background-color: blue;
    z-index: 0;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.cart-icon i{
    font-size: 40px;
    color: black;

}
/*---- end user cart--------------*/


 /*-----------start toggle-sidebar-icon-------*/

.toggle-sidebar-icon{
    width: 55px;
    height: 55px;
    background-color: rgba(128, 128, 128, 0.304);
    box-shadow: 2px 2px 6px #546,
                -2px -2px 6px #546;
    
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
.toggle-sidebar-icon i{
    color: black;
    font-size: 40px;
}

 /*-----------End toggle-sidebar-icon-------*/

@media (max-width: 992px) { 

    nav ul{
        display: none;
    }
    .toggle-sidebar-icon{ 
        margin-left: 10px;
        display: flex;
    }

    .cart-icon{
        margin-left: auto;
    }
 }

 @media(max-width: 360px){
    
    .cart-icon, .toggle-sidebar-icon{
        width: 40px;
        height: 40px;
        margin-left: 0;
    }
    .cart-icon i, .toggle-sidebar-icon i{
        font-size: 28px;
    }
    .cart-icon .cart-icon-counter{
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    nav img{
        width: 80px;
        height: 70px;
        object-fit: contain;
        
    }
    nav{
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 100%;
    }

 }

 .cart-icon i, .toggle-sidebar-icon i{
    transition:  all 0.5s ease-in-out;
 }
.cart-icon i:hover, .toggle-sidebar-icon i:hover{
    color: #777777;
}
/* ----- end nav bar ----- */